<template>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <label for="name">Name</label>
              <p><input type="text" v-model="name"></p>
              <label for="name">Username</label>
              <p><input type="text" v-model="uname"></p>
              <label for="pwd">Password</label>
              <p><input type="text" v-model="pass"></p>
              <p><button class="btn btm-primary " v-on:click="reg()">Signup</button></p>
          </div>
          <div class="col-md-6">

          </div>
      </div>
  </div>
</template>

<script>
export default {
name: 'Login',
data() {
    return {
        name:'',
        uname:'',
        pass:''
    }
},
methods:{
    async reg(){
        var fd = new FormData();
        fd.append("name", this.name);
        fd.append("username", this.uname);
        fd.append("password", this.pass);
        var res = await fetch("http://localhost:3000/api/posts/signup", {
            method: 'POST',
            body: fd
        });
        var resdata=await res.json();
        console.log(resdata)
    }
}
}
</script>

<style>

</style>